{% extends "TCGTrackingTool/layout.html" %} {% block a_unique_name %}


<!-- Creation of account-created page -->
<section id="account_created">

    {% if error_msg %}
    <div class="alert alert-danger" style="margin-top:130px;" role="alert">
        {{error_msg}}
    </div>

    {% endif %}

    <div class="container">
        <title>Info Recovery Page</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <form method="post">
            {% csrf_token %}
            <div class="accountcreatedbox">
                <h1>ENTER NEW PASSWORD</h1>
                <h2>
                    <center>Please enter you new password twice so we can verify that you typed it correctly.</center>
                </h2>
                <!-- <div class="password_reset_form">
                    {{form}}
                </div> -->
                <div class="password_reset_form">
                    {{form.as_p}}
                    <input type="submit" value="Change password">
                </div>
            </div>
        </form>
    </div>
</section>
<!-- End account-created page -->
{% endblock %}

<!-- Page/Tab Title -->
{% block title %} Password Change {% endblock %}