<section id="forgot_info">

    {% if error_msg %}
    <div class="alert alert-danger" style="margin-top:130px;" role="alert">
        {{error_msg}}
    </div>

    {% endif %}

    <div class="container">
        <title>Info Recovery Page</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="forgotbox">
            <h1>FORGOT USERNAME</h1>
            <div class="forgotform" id="form">
                <h1>Enter Your Email Address</h1>
                <h2>To recover your username please enter your email address.</h2>
                <form method="post" onsubmit="return submitUserForm();">
                    {% csrf_token %}
                    <p>Email</p>
                    <div class="forgottextbox">
                        <i class="fas fa-envelope"></i> {{form}}
                    </div>
                    <div class="forgotsubmit">
                        <button type="button"><i class="fas fa-arrow-right"></i></br></button>
                    </div>
                    <div class="forgotcancel">
                        <a href="{% url 'info-recovery' %}">CANCEL</a>
                    </div>
                    <div class="forgottensupportbox">
                        <a href="{% url 'password_reset' %}">Forgot password?</a><br>
                        <a href="{% url 'support' %}">Contact Support Here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function setFocused() {
            var results = document.querySelectorAll('.forgottextbox');
            for (result of results) {
                result.classList.add('focused');
            }
        }

        function unsetFocused() {
            var results = document.querySelectorAll('.forgottextbox');
            for (result of results) {
                result.classList.remove('focused');
            }
        }

        var results = document.querySelectorAll('.forgottextbox input');
        for (result of results) {
            result.addEventListener("focusin", setFocused);
            result.addEventListener("focusout", unsetFocused);
        }
    </script>

</section>
<!-- End forgot-username page -->
{% endblock %}

<!-- Page/Tab Title -->
{% block title %} Forgot Username {% endblock %}