{% extends "TCGTrackingTool/layout.html" %} {% block a_unique_name %}


<!-- Creation of account-created page -->
<section id="account_created">

    {% if error_msg %}
    <div class="alert alert-danger" style="margin-top:130px;" role="alert">
        {{error_msg}}
    </div>

    {% endif %}

    <div class="container">
        <title>Info Recovery Page</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="accountcreatedbox">
            <h1>PASSWORD RESET SENT!</h1>
            <h2>
                <center>We've emailed you instructions for resetting your password. If an account exists with the email you entered, you should receive them shortly.
                </center>
            </h2>
            <h2>
                <center>If you don't receive an email, please make sure you've entered the correct address you registered with, and check your spam folder.
                </center>
            </h2>
        </div>
    </div>
</section>
<!-- End account-created page -->
{% endblock %}

<!-- Page/Tab Title -->
{% block title %} Forgot Password Done {% endblock %}