{% extends "TCGTrackingTool/layout.html" %} {% block a_unique_name %}
<body>
<div class="flex-wrapper">
  <div class="notifications_page">
  <section id="intro">
    <!--<div id="error-msg" style="display: flex; justify-content: center; margin-top: 15%;">-->
    <h1
      style="
        margin-top: 8%;
        margin-bottom: 2rem;
        margin-left: 25%;
        z-index: 1;
        opacity: 70%;
      "
    >
      Messages
    </h1>
    </section>
    </div>
    </div>

</body>

<!-- End Intro Section -->
{% endblock %} 
{% block title %} 
Messages 
{% endblock %}
{% block content %}
{%endblock %}
