{% extends "TCGTrackingTool/layout.html" %}



{% block a_unique_name %}


<!-- Creation of support page -->
<section id="forgot_info">

    {% if error_msg  %}
    <div class="alert alert-danger" style="margin-top:130px;" role="alert">
        {{error_msg}}
    </div>
    
    {% endif %}

<div class="container">
    <title>Support Page</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="supportbox">
            <h1>TTT SUPPORT</h1>
            
        </div>
</div>

</section> <!-- End support page --> 
{% endblock %}

<!-- Page/Tab Title -->
{% block title %}
Support
{% endblock %}